<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="ammap.css" type="text/css">
	<script src="ammap.js" type="text/javascript"></script>
	<!-- map file should be included after ammap.js -->
<script src="maps/worldLow.js" type="text/javascript"></script>
	<script>
var map;

function writeDevInfo(event) {
		document.getElementById("devInfo").innerHTML = event.str;
}

AmCharts.ready(function() {
		map = new AmCharts.AmMap();


		map.balloon.color = "#CC0000";

	var icon= "M21.25,8.375V28h6.5V8.375H21.25zM12.25,28h6.5V4.125h-6.5V28zM3.25,28h6.5V12.625h-6.5V28z";

	var dataProvider = {
			mapVar: AmCharts.maps.worldLow,
			images:[
{latitude:-25.2744, longitude:133.7751, svgPath:icon, color:"#CC0000", scale:0.5, label:"Australia", labelShiftY:2, zoomLevel:5, title:"Australia", description:"Number of proposals: 2"},
{latitude:47.5162, longitude:14.5501, svgPath:icon, color:"#CC0000", scale:0.5, label:"Austria", labelShiftY:2, zoomLevel:5, title:"Austria", description:"Number of proposals: 2"},
{latitude:26.0667, longitude:50.5577, svgPath:icon, color:"#CC0000", scale:0.5, label:"Bahrain", labelShiftY:2, zoomLevel:5, title:"Bahrain", description:"Number of proposals: 2"},
{latitude:23.685, longitude:90.3563, svgPath:icon, color:"#CC0000", scale:0.5, label:"Bangladesh", labelShiftY:2, zoomLevel:5, title:"Bangladesh", description:"Number of proposals: 2"},
{latitude:50.5039, longitude:4.4699, svgPath:icon, color:"#CC0000", scale:0.5, label:"Belgium", labelShiftY:2, zoomLevel:5, title:"Belgium", description:"Number of proposals: 1"},
{latitude:-14.235, longitude:-51.9253, svgPath:icon, color:"#CC0000", scale:0.5, label:"Brazil", labelShiftY:2, zoomLevel:5, title:"Brazil", description:"Number of proposals: 5"},
{latitude:42.7339, longitude:25.4858, svgPath:icon, color:"#CC0000", scale:0.5, label:"Bulgaria", labelShiftY:2, zoomLevel:5, title:"Bulgaria", description:"Number of proposals: 1"},
{latitude:56.1304, longitude:-106.3468, svgPath:icon, color:"#CC0000", scale:0.5, label:"Canada", labelShiftY:2, zoomLevel:5, title:"Canada", description:"Number of proposals: 15"},

]

};

		map.dataProvider = dataProvider;

		//map.smallMap = new AmCharts.SmallMap();//if you want a minimap at the top right corner of your screen uncomment the line

		// developer mode related
		map.developerMode = true;
		map.addListener("writeDevInfo", writeDevInfo);

		map.write("mapdiv");

});
 </script>
<title>My Personal website</title>
<!--mobile apps-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="CV Nikolaos Kokkinis-Ntrenis, JAVA, Java, Js, PHP, python" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--mobile apps-->
<!--Custom Theme files-->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
<link rel="stylesheet" href="css/swipebox.css">
<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">

<!--//Custom Theme files-->
<!--js-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/angular-1.4.8.js"></script>
<script src="js/typed.min.js"></script>
<!-- //js -->
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Overlock:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!--start-smooth-scrolling-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>

<!--//end-smooth-scrolling-->
</head>
<body ng-app="myApp" ng-controller="personCtrl">
	<!--banner-->
	<div id="home" class="banner">
		<div class="banner-info">
			<div class="container">
				<div class="col-md-4 header-left">
				<img src="images/img1.jpg" alt=""/>

				</div>
				<div class="col-md-8 header-right">

					<h1 class="element"></h1>
					<h6>Web amd Software Developer</h6>
					<script>
  $(function(){

      $(".element").typed({
        strings: ["Hello", "Welcome to my page","I'm Kokkinis-Ntrenis Nikolaos"],
        typeSpeed: 56
      });
  });
</script>


					<ul class="address">
						<li>
							<ul class="address-text">
								<li><b>E-MAIL </b></li>
								<li><a href="mailto:nikoskokkini@gmail.com">nikoskokki@gmail.com</a></li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>WEBSITE </b></li>
								<li><a href="#">nickkok.github.io/personal-website/</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//banner-->
	<!--top-nav-->
	<div class="top-nav wow">
		<div class="container">
			<div class="navbar-header logo">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					Menu
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<div class="menu">
					<ul class="nav navbar">
						<li><a href="#about" class="scroll">About</a></li>
						<li><a href="#work" class="scroll">Experience</a></li>
						<li><a href="#education" class="scroll">Education</a></li>
						<li><a href="#skills" class="scroll">Skills</a></li>
						<li><a href="#projects" class="scroll">My Projects</a></li>
						<!-- <li><a href="#contact" class="scroll">Contact</a></li>-->
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!--//top-nav-->
	<!--about-->
	<div id="about" class="about">
		<div class="container">
			<h3 class="title"> About Me</h3>
			<div class="col-md-8 about-left">
				<p>I always enjoyed studying and examining anything related to computer science.</p>
				<p>I had the pleassure to contribute in the  "<a href="https://www.researchgate.net/publication/282373451_Discovering_Similarities_for_Content-Based_Recommendation_and_Browsing_in_Multimedia_Collections"> Discovering Similarities for Content-Based Recommendation and Browsing in Multimedia Collections</a>" project as an intern in NCSR DEMOKRITOS research center and publish a paper in 10th internal Sitis Conference in Marocco.</p>
				<p>I have been in various seminars in the field of Informatics while I have also
participated in MOC courses (Udacity,Coursera).</p>
<p>Furthermore, I would be excited to work in an international environment and be exposed to different opinions and ideas
since in my perspective it is an excellent way to broaden my horizons.This is the reason I had participated in the Erasmus program in University Lille1 and apply to work at CERN.</p>
<p>In 2015, I was collaborating with two of my professors building a site dedicated to
help foreign students settle in Greece.</p>
<br>
				<p>Currently i am working at CERN as a technical student. My projects at CERN are: </p>
				<br>
				<p>
				<ul  style="padding-left:5em;color: black;">
				<li>Create a booking tool for teacher to come and visit S'Cool LAB.</li>
				<li>Create Drupal websites for visit service, S'Cool LAB and  teachers programmes.</li>
				<li>Create a moodle website which has online courses for the student that will make a visit to the Lab. </li>
				<li> Create a software for a microprocessor timepix3(detect particles and through a python socket  put all the data and transfer it  on user's browser.At the browser i use jsroot and d3.js to display all the data and the histogram of them.</li>
				<li>Create the security of apache server(moodle website). Use comodo ssl cetification, disable weak ciphers, use failtoban to block scanning ips.</li>
				<li>I do computer administrative work (repair laptops of lab, change ssd, install windows,linux) i was responsible of the laptops for international Master Class of CERN.</li>
				</ul>
				</p>
				<br>
							<p>The projects that i had done during my bachelor degree: </p>
							<br>
							<p>Python:</p>
							<p>
							<ul  style="padding-left:5em;color: black;">
							<li>Implement a web crawler(CS 101 Udacity course)</li>
							<li>Create similarity matrix(Project NCSR DEMOKRITOS)</li>
							<li>Clustering of users(Project NCSR DEMOKRITOS)</li>
							<li> Textual feature extraction(Project NCSR DEMOKRITOS)</li>
							</ul>
							</p>

							<p>Javascript:</p>
							<p>
							<ul  style="padding-left:5em;color: black;">
							<li>Visualization the data(Project NCSR DEMOKRITOS)</li>
							<li>Gps location register/Android(project of telematics Applications Development University Course)</li>
							<li>Weather forcast/Android(project of telematics Applications Development University Course)</li>
							</ul>
							</p>

							<p>C:</p>
							<p>
							<ul  style="padding-left:5em;color: black;">
							<li>Implementation database management system(project of System Programming University Course)</li>
							<li>Implementation Quicksort and Mergesort algorithms(project of Data Structures University Course)</li>
							<li>Implementation of tic- tac- toe(project of Programming University Course)</li>
							</ul>

							<p>Java:</p>
							<p>
							<ul  style="padding-left:5em;color: black;">
							<li>Implementantion of a carpooling applications(project of Programming in Java University Course)</li>
							<li>Implementation of a mini social network (Project of System-Object-Oriented Programming University Course)</li>
							<li>Implementation of E-bank system, using SOAP web services architecture(project of Networked and Distributed Systems University Course)</li>
							</ul>
							</p>

							<p>Shell Script:</p>
							<p>
							<ul  style="padding-left:5em;color: black;">
							<li>Implementation of paper scissors rock game wich playing two procces(project of Operating Systems University Course)</li>
							</ul>
							</p>


							<p>Javascript/php/jsp:</p>
							<p>
							<ul  style="padding-left:5em;color: black;">
							<li>Canvas/Map rendering(HTML5 Game Development Udacity course) </li>
							<li>Asynchronous Loading(HTML5 Game Development Udacity course)</li>
							<li>-Implement web page that will display picture of flickR using the REST API flickR provided (project of Distributed Systems University Course)</li>
							<li>Video streaming web application via websocket protocol using html5(part of summerschool project) </li>
							<li>Implematations of e-shop, e-cinema, using wordpress and drupal at each one (project of of Human-Computer Interaction University Course)</li>
							</ul>
							</p>


			</div>





			<div class="col-md-4 about-right">
				<ul>
					<h5>Awards</h5>
					<li><span class="glyphicon glyphicon-play"></span>2nd place at the 2nd SemaGrow Hackathon</li>
          <li><span class="glyphicon glyphicon-play"></span>Pass the exams of the CERN school of computing(2weeks courses)</li>
					<li><span class="glyphicon glyphicon-play"></span>Participate at HACKZurich create the project<a href="https://github.com/stevelaskaridis/depictit"> depictit </a></li>
				</ul>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--//about-->
	<!--work-experience-->
	<div id="work" class="work">
		<div class="container">
			<h3 class="title">Work Experience</h3>
			<div class="work-info">
				<div class="col-md-6 work-left">
					<h4>September 2015 - Octomber 2016 </h4>
				</div>
				<div class="col-md-6 work-right">
					<h5><span class="glyphicon glyphicon-briefcase"> </span>CERN</h5>
					<p style="color:white;">Web amd software developer</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info">
				<div class="col-md-6 work-right work-right2">
					<h4>January 2015-Now </h4>
				</div>
				<div class="col-md-6 work-left work-left2">
					<h5>Harokopio University<span class="glyphicon glyphicon-briefcase"> </span></h5>
					<p style="color:white;">Collaborating with two of my professors building a site dedicated to help foreign students settle in Greece.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info">
				<div class="col-md-6 work-left">
					<h4>June 2014 </h4>
				</div>
				<div class="col-md-6 work-right">
					<h5><span class="glyphicon glyphicon-briefcase"> </span> NCSR Demokritos</h5>
					<p style="color:white;">Participate at IRSS(International Research-Centered Summer School).</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info">
				<div class="col-md-6 work-right work-right2">
					<h4> March 2012-Now  </h4>
				</div>
				<div class="col-md-6 work-left work-left2">
					<h5>Hackerspace Athens <span class="glyphicon glyphicon-briefcase"></span> </h5>
					<p style="color:white;">I have participated in various seminars, conferences and open source projects.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//work-experience-->
	<!--education-->
	<div id="education" class="education">
		<div class="container">
			<h3 class="title">Education</h3>
			<div class="work-info">
				<div class="col-md-6 work-left">
					<h4>Bachelor Degree 2010-Now</h4>
				</div>
				<div class="col-md-6 work-right">
					<h5><span class="glyphicon glyphicon-education"> </span> Harokopio University</h5>
					<p>Bachelor  degree in Informatics and Telematics of Harokopio University of  Athens(PTYCHIO), Average grade: 7.69/10 (so far) </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info">
				<div class="col-md-6 work-right work-right2">
					<h4>Erasmus 2014 (January) – 2014(June)</h4>
				</div>
				<div class="col-md-6 work-left work-left2">
					<h5> Lille1 <span class="glyphicon glyphicon-education"></span></h5>
					<p>Erasmus Studies in Lille1 University</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info">
				<div class="col-md-6 work-left">
					<h4> Finished high school - June 2010 </h4>
				</div>
				<div class="col-md-6 work-right">
					<h5><span class="glyphicon glyphicon-education"> </span> Experimental school of Agious Anargirous</h5>
					<p>Graduation from high school: Final grade: 17/20 average rating </p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//education-->
	<!--skills-->
	<div id="skills" class="skills">
		<div class="container">
			<h3 class="title">Skills</h3>
			<div class="skills-info">
				<div class="col-md-6 bar-grids">
					<h6>PHP<span> 70% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 70%">
						</div>
					</div>
					<h6>JAVA<span> 80% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 80%">
						</div>
					</div>
					<h6>HTML/CSS<span>90% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 90%">
						</div>
					</div>
					<h6>JS <span> 90% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 90%">
						</div>
					</div>
					<h6>C<span> 65% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 65%">
						</div>
					</div>
				</div>
				<div class="col-md-6 bar-grids">
					<h6>C++<span> 60% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 60%">
						</div>
					</div>
					<h6>JSP<span> 85% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 85%">
						</div>
					</div>
					<h6> Bash Scripting<span>60% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 60%">
						</div>
					</div>
					<h6>Android<span> 70% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 70%">
						</div>
					</div>
					<h6>SQL<span> 60% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 60%">
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//education-->
	<!--portfolio-->
	<div id="projects" class="portfolio">
		<div class="container">
			<h3 class="title wow zoomInLeft animated" data-wow-delay=".5s">My Projects</h3>
			<div class="sap_tabs">
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
				<center>	<button class="resp-tab-item" ng-click="toggleall()">All</button>
					<button class="resp-tab-item" ng-click="togglecms()">CMS</button>
					<button class="resp-tab-item" ng-click="togglemoodle()">Moodle</button>
					<button class="resp-tab-item" ng-click="togglehtml5()">HTML5</button></center>

					<div class="clearfix"> </div>
					<div class="resp-tabs-container">
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">
								<div class="col-md-4 portfolio-grids" ng-show="mycms">
									<div class="grid">
										<a href="images/scool.png" class="swipebox" title="S'Cool LAB main website from which the teacher submit their applycation to visit the LAB">
											<img src="images/scool.png"  alt="" class="img-responsive" />
											<div class="figcaption">
												<h3><span>S'Cool LAB</span></h3>
												<p><a href="https://scool.web.cern.ch/" target="_blank">Visit site!</a></p>
											</div>
										</a>
									</div>
								</div>
								<div class="col-md-4 portfolio-grids" ng-show="mymoodle">
									<div class="grid effect-sarah">
										<a href="images/scool-learn.png" class="swipebox"  title="S'Cool LAB e-learning webiste for student">
											<img src="images/scool-learn.png" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3><span>S'Cool LAB e-learn</span></h3>
												<p><a href="https://scool-learn.cern.ch/login/index.php" target="_blank">Visit site!</a></p>
											</div>
										</a>
									</div>
								</div>
								<div class="col-md-4 portfolio-grids" ng-show="mycms">
									<div class="grid effect-sarah">
										<a href="images/visit.png" class="swipebox" title="CERN Visit service website which provide info to visiters">
											<img src="images/visit.png" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3><span>CERN Visit service website</span></h3>
												<p><a href="http://visits.web.cern.ch/" target="_blank">Visit site!</a></p>
											</div>
										</a>
									</div>
								</div>
								<div class="col-md-4 portfolio-grids" ng-show="mycms">
									<div class="grid">
										<a href="images/teachers.png" class="swipebox" title="CERN Teacher programmes website which provide info to teachers">
											<img src="images/teachers.png" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3><span>CERN Teacher programmes website</span></h3>
												<p><a href="http://teacher-programmes.web.cern.ch/" target="_blank">Visit site!</a></p>
											</div>
										</a>
									</div>
								</div>
								<div class="col-md-4 portfolio-grids" ng-show="mycms">
									<div class="grid">
										<a href="images/study.png" class="swipebox" title="Website dedicated to help foreign students settle in Greece.">
											<img src="images/study.png" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3><span>Study in Greece</span></h3>
												<p><a href="http://studyingreece.edu.gr/" target="_blank">Visit site!</a></p>
											</div>
										</a>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/scool.png" class="swipebox" title="S'Cool LAB main website from which the teacher submit their applycation to visit the LAB">
											<img src="images/scool.png"  alt="" class="img-responsive" />
											<div class="figcaption">
												<h3><span>S'Cool LAB</span></h3>
												<p><a href="https://scool.web.cern.ch/" target="_blank">Visit site!</a></p>
											</div>
										</a>
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid effect-sarah">
										<a href="images/visit.png" class="swipebox" title="CERN Visit service website which provide info to visiters">
											<img src="images/visit.png" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3><span>CERN Visit service website</span></h3>
												<p><a href="http://visits.web.cern.ch/" target="_blank">Visit site!</a></p>
											</div>
										</a>
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/teachers.png" class="swipebox" title="CERN Teacher programmes website which provide info to teachers">
											<img src="images/teachers.png" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3><span>CERN Teacher programmes website</span></h3>
												<p><a href="http://teacher-programmes.web.cern.ch/" target="_blank">Visit site!</a></p>
											</div>
										</a>
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/study.png" class="swipebox" title="Website dedicated to help foreign students settle in Greece.">
											<img src="images/study.png" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3><span>Study in Greece</span></h3>
												<p><a href="http://studyingreece.edu.gr/" target="_blank">Visit site!</a></p>
											</div>
										</a>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<div class="grid effect-sarah">
										<a href="images/scool-learn.png" class="swipebox"  title="S'Cool LAB e-learning webiste for student">
											<img src="images/scool-learn.png" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3><span>S'Cool LAB e-learn</span></h3>
												<p><a href="https://scool-learn.cern.ch/login/index.php" target="_blank">Visit site!</a></p>
											</div>
										</a>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">

								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--ResponsiveTabs-->
			<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
			<script>
var app = angular.module('myApp', []);
app.controller('personCtrl', function($scope) {


	$scope.mycms = false;
	$scope.mymoodle = false;
	$scope.myhtml5 = false;
    $scope.toggleall = function() {
        $scope.mycms = true;
		$scope.mymoodle = true;
		$scope.myhtml5 = true;
    };
	$scope.toggleacms = function() {
        $scope.mycms = !$scope.mycms;
    };
	$scope.togglemoodle = function() {
        $scope.mymoodle = !$scope.mymoodle;
    };
	$scope.toggleahtml5 = function() {
        $scope.myhtml5 = !$scope.myhtml5;
    };
});
</script>
			<script type="text/javascript">
				$(document).ready(function () {
					$('#horizontalTab').easyResponsiveTabs({
						type: 'default', //Types: default, vertical, accordion
						width: 'auto', //auto or any width like 600px
						fit: true   // 100% fit in a container
					});
				});
			</script>
			<!--//ResponsiveTabs-->
			<!-- swipe box js -->
			<script src="js/jquery.swipebox.min.js"></script>
				<script type="text/javascript">
					//jQuery(function($) {
					//	$(".swipebox").swipebox();
					//});
			</script>
			<!-- //swipe box js -->
		</div>
	</div>
	<!--//portfolio-->
	<!--contact
	<div class="welcome contact" id="contact">
		<div class="container">
			<h3 class="title">Contact Us</h3>
			<div class="contact-row">
				<div class="col-md-6 contact-left">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250261.21285550427!2d-60.42919264432581!3d46.13039392716506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b67ef033cc4082f%3A0xbf0517bb7d9ecd34!2sNorth+Sydney%2C+NS%2C+Canada!5e0!3m2!1sen!2sin!4v1460613320469"></iframe>
				</div>
				<div class="col-md-6 contact-right">
					<div class="address-left">
						<p>756 global Place, North Sydney,<br> FA-2305,Canada </p>
					</div>
					<div class="address-right">
						<p>Call us :  +00 111 222 3333</p>
						<p>E-mail : <a href="mailto:info@example.com">mail@example.com</a></p>
					</div>
					<div class="clearfix"></div>
					<div class="contact-form">
						<form action="#" method="post">
							<input type="text" name="Name" placeholder="Name" required="">
							<input class="email" name="Email" type="text" placeholder="Email" required="">
							<input class="phone" name="phone" type="text" placeholder="Phone" required="">
							<textarea name="Message" placeholder="Message" required=""></textarea>
							<input type="submit" value="SUBMIT" >
						</form>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--//contact -->
	<!--footer-->
<div id="work" class="work">
		<div class="container">
			<h3 class="title"> Hobbies</h3>
			<div class="col-md-8 about-left">
				<h2 style="color:#F7E612;">My major hobby is to travel around the world, meet new people and discover new things<h2>
				<h2 style="color:#F7E612;">Over here are all the countries that i have visit.</h2>
					<div id="mapdiv" style="width: 800px; background-color:white; height: 500px;"></div>

</div>
	</div>
	</div>

	<div class="footer">
		<div class="container">
			<p>© 2016 My Resume.Template design by W3layouts</p>
		</div>
	</div>
	<!--//footer-->
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>
